.load {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
  background: url('https://airgways.files.wordpress.com/2019/08/62d987_25414a5d0d0d43a3bc6fc33f9b7e2e4b_mv2.gif') 50% 50% no-repeat rgb(0, 0, 0,1);
  opacity: 10;
}

