.load {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
  background: url('https://pa1.narvii.com/6707/04d119022cbde828555033a53e1d8496a11a3096_hq.gif') 50% 50% no-repeat rgb(31, 4, 4,1);
  opacity: 10;
}

