<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">

    <html>
        <head>
        <title>Most Popular Movies</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="assets/css/main.css" />
    		<link rel="stylesheet" href="assets/css/slider.css" />
    		<link rel="stylesheet" href="assets/css/fire.css" />
                 
		<link rel="stylesheet" href="loadin.css">
           
          
        </head>
        
        
        <body class="is-preload">
		<div class="load"></div>
		<div id="page-wrapper">
      
         
            <!-- Header -->
            <header id="header">
                  <h1 id="logo"><a href="https://fandommovies.github.io/home/">FANDOM MOVIES</a></h1>
                  <nav id="nav">
                      <ul>
                        <li><a href="https://fandommovies.github.io/home/">Inicio</a></li>
                        <li><a href="Solicitud de peliculas.html">Pedir</a></li>
			<li><a href=" Reportes.html">Reportar</a></li>
                      </ul>
                    </nav>
             
              </header><br>
      
         
      
     
      
       <!-- bloques de series --> 
      <!--   Contenido 1 -->
		  <label>Buscador:</label>
      <input type="text" v-model="search" placeholder="Encuentra tu pelicula por nombre,año o idioma..."/>
              
        
    <br>
		  
          <article class="Cards carPerf" v-for="post in filteredList">
            <div class="CPoster"><a v-bind:href="post.link" target="_blank">
              <img v-bind:src="post.img"/> </div>
              <div class="CInfo noHidetho"><h2> {{ post.title }}</h2><span><b>{{ post.author }}</b></span></div>
              <span class="Cborder"></span>
            </a>
          </div>
        
          </article>
             <!--fin de contenido--> 
            <footer> 
            <div align="center" id="footer-post" style="color: white; display: block;" class="disable-select">
              
      <p> © 2020  Fandom Movies  <a href="DCMA.html">DCMA</a></p></div> 
                 </footer>  
             
             
            
          <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.dropotron.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <script type="text/javascript">
	$(window).load(function() {
		$(".load").fadeOut("slow");
	});
	</script>
            <script src="assets/js/percent.js"></script>
      
        </body>
      </html>



    
   
<!--Jahaaqui-->
<script>
     class Post {
  constructor(title, link, author, img) {
    this.title = title;
    this.link = link;
    this.author = author;
    this.img = img;
   	  
  }
}
const app = new Vue ({
  el: '#app',
  data: {
    search: '',
    postList : [
	    new Post(
'Sonic: la película',
'https://easyload.io/e/1EXQbe0BN8/s0_n1_c_th3_h3_dg3_h0_g_2020_hdrip_720_p_latino_mp4_html',
'2020 Latino',
'https://image.tmdb.org/t/p/w600_and_h900_bestv2/jYbANSoj6qGTbDkstq9J5Vy8fRF.jpg' 

),

new Post(
'Lo que de verdad importa',
'n',
'2017 Castellano',
'https://m.media-amazon.com/images/M/MV5BNDMwZTk1Y2UtNTM4YS00MmJhLThiNDAtMTJjYTdjYzg2YmNhXkEyXkFqcGdeQXVyNzkzODk2Mzc@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Interstellar',
'n',
'2014 Latino',
'https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'El lobo de Wall Street',
'n',
'2013',
'https://m.media-amazon.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Snowpiercer',
'n',
'2013 Castellano',
'https://m.media-amazon.com/images/M/MV5BMTQ3NzA1MTY3MV5BMl5BanBnXkFtZTgwNzE2Mzg5MTE@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Django desencadenado',
'n',
'2012',
'https://m.media-amazon.com/images/M/MV5BMjIyNTQ5NjQ1OV5BMl5BanBnXkFtZTcwODg1MDU4OA@@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Los juegos del hambre',
'n',
'2012',
'https://m.media-amazon.com/images/M/MV5BMjA4NDg3NzYxMF5BMl5BanBnXkFtZTcwNTgyNzkyNw@@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Criadas y señoras',
'n',
'2011',
'https://m.media-amazon.com/images/M/MV5BMTM5OTMyMjIxOV5BMl5BanBnXkFtZTcwNzU4MjIwNQ@@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Capitan America: El primer vengador',
'https://streamtape.com/e/KZQ7bqGvRKuzp6/vp1771_2_2.mp4',
'2011 Latino',
'https://m.media-amazon.com/images/M/MV5BMTYzOTc2NzU3N15BMl5BanBnXkFtZTcwNjY3MDE3NQ@@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Sigueme el rollo',
'n',
'2011',
'https://m.media-amazon.com/images/M/MV5BMTM3MzM3NDE5MV5BMl5BanBnXkFtZTcwNDE5MTUxNA@@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Origen',
'https://streamtape.com/e/Jk7Y396OV6io6d/vp27205_1_2.mp4',
'2010 Castellano',
'https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Airbender: El ultimo guerrero',
'https://streamtape.com/e/x2QgzeYoOACkk4Q/vp10196_1_3.mp4',
'2010 Castellano',
'https://m.media-amazon.com/images/M/MV5BMTM1NjE0NDA0MV5BMl5BanBnXkFtZTcwODE4NDg1Mw@@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Malditos bastardos',
'https://streamtape.com/e/vzMm8JLY7Zf4Glk/vp16869_1_1.mp4',
'2009 Castellano',
'https://m.media-amazon.com/images/M/MV5BOTJiNDEzOWYtMTVjOC00ZjlmLWE0NGMtZmE1OWVmZDQ2OWJhXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'El caballero oscuro',
'https://streamtape.com/e/q9qkZ2kd0Jtzewy/vp155_2_2.mp4',
'2008 Latino',
'https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'V de Vendetta',
'https://streamtape.com/e/gd3vpaqblGhqWx2/vp752_1_1.mp4',
'2005',
'https://m.media-amazon.com/images/M/MV5BOTI5ODc3NzExNV5BMl5BanBnXkFtZTcwNzYxNzQzMw@@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'El señor de los anillos:La comunidad del anillo',
'https://streamtape.com/e/6mrJM1eBG7H9aPM/vp120_2_2.mp4',
'2001',
'https://m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNWUzMi00MTgxLWI0NTctMzY4M2VlOTdjZWRiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    
new Post(
'Harry Potter y la piedra filosofal',
'n',
'2001',
'https://m.media-amazon.com/images/M/MV5BNjQ3NWNlNmQtMTE5ZS00MDdmLTlkZjUtZTBlM2UxMGFiMTU3XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	 	    
	    	    
new Post(
'Matrix',
'https://streamtape.com/e/3PxjQZ3zk2Hd7ZV/vp603_2_1.mp4',
'1999',
'https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	    
	    
new Post(
'Titanic',
'https://streamtape.com/e/BXYjBygygVIyx2A/vp597_2_2.mp4',
'1997',
'https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	    
	    

	    
new Post(
'Seven',
'https://streamtape.com/e/a2Q2qde2AwiQKQ/vp807_2_1.mp4',
'1995 latino',
'https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	    
	    
new Post(
'Pulp Fiction',
'https://easyload.io/e/5QNL2L73dz/pulp_fiction_1994_lat_bluray_1080_p_mkv_html',
'1994 Latino',
'https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY268_CR1,0,182,268_AL_.jpg' 

),	    
	   	    
new Post(
'Cadena perpetua',
'https://streamtape.com/e/Va7MRBLWxMcKlmm/vp278_1_3.mp4',
'1994 Castellano',
'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	    
	    
new Post(
'El silencio de los corderos',
'https://easyload.io/e/eMlJ2brJlq/the_silence_of_the_lambs_1991_esp_bluray_1080_p_mkv_html',
'1991 Castellano',
'https://m.media-amazon.com/images/M/MV5BNjNhZTk0ZmEtNjJhMi00YzFlLWE1MmEtYzM1M2ZmMGMwMTU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),	    
	    
new Post(
'Regreso al futuro',
'https://easyload.io/e/qnNz2Pb0NQ/back_to_the_future_hd_1080_la_mp4_html',
'1985 Latino',
'https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL_.jpg' 

),		    	    
 new Post(
'El padrino',
'https://easyload.io/e/e6dYL47qlk/3_l_P_4_dr1_n0_1972_720_p_Latino_mp4_html',
'1972 Latino',
'https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY268_CR3,0,182,268_AL_.jpg' 

),	    

	    
	    
]
  },
   computed: {
    filteredList() {
      return this.postList.filter(post => {
        return post.title.toLowerCase().includes(this.search.toLowerCase()) || post.author.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
})

</script>
<!--Termino aqui-->

	
