<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">

    <html>
        <head>
        <title>Peliculas</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="assets/css/main.css" />
    		<link rel="stylesheet" href="assets/css/slider.css" />
    		<link rel="stylesheet" href="assets/css/fire.css" />
                 
		<link rel="stylesheet" href="loadin.css">
           
          
        </head>
        
        
        <body class="is-preload">
		<div class="load"></div>
		<div id="page-wrapper">
      
         
            <!-- Header -->
            <header id="header">
                  <h1 id="logo"><a href="https://fandom-series.github.io/home/">FANDOM SERIES</a></h1>
                  <nav id="nav">
                      <ul>
                        <li><a href="https://fandom-series.github.io/Inicio/">Inicio</a></li>
                        <li><a href="Solicitud de peliculas.html">Pedidos</a></li>
                      </ul>
                    </nav>
             
              </header><br>
      
          
      
     
      
       <!-- bloques de series --> 
      <!--   Contenido 1 -->
		  <label>Buscador:</label>
      <input type="text" v-model="search" placeholder="Encuentra tu pelicula por nombre,año o idioma..."/>
              
        
    <br>
		  
          <article class="Cards carPerf" v-for="post in filteredList">
            <div class="CPoster"><a v-bind:href="post.link" target="_blank">
              <img v-bind:src="post.img"/> </div>
              <div class="CInfo noHidetho"><h2> {{ post.title }}</h2><span><b>{{ post.author }}</b></span></div>
              <span class="Cborder"></span>
            </a>
          </div>
        
          </article>
             <!--fin de contenido--> 
            
             
          <footer> 
            <div align="center" id="footer-post" style="color: white; display: block;" class="disable-select">
              
      <p> © 2019  Fandom-Series  <a href="DCMA.html">DCMA</a></p></div> 
                 </footer>     
            
          <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.dropotron.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <script type="text/javascript">
	$(window).load(function() {
		$(".load").fadeOut("slow");
	});
	</script>
            <script src="assets/js/percent.js"></script>
      
        </body>
      </html>



    
   
<!--Agregar peliculas-->
<script>
     class Post {
  constructor(title, link, author, img) {
    this.title = title;
    this.link = link;
    this.author = author;
    this.img = img;
   	  
  }
}
const app = new Vue ({
  el: '#app',
  data: {
    search: '',
    postList : [
	    new Post(
'Sonic: la película',
'https://static.wixstatic.com/media/d00a6a_5ff56451eedd472bb6c1dd33280a089a~mv2.png/v1/fill/w_560,h_242,al_c,q_85,usm_0.66_1.00_0.01/proximamente.webp',
'2020 Latino',
'https://image.tmdb.org/t/p/w600_and_h900_bestv2/jYbANSoj6qGTbDkstq9J5Vy8fRF.jpg'

),
	   
]
  },
   computed: {
    filteredList() {
      return this.postList.filter(post => {
        return post.title.toLowerCase().includes(this.search.toLowerCase()) || post.author.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
})
</script>
<!--Termino aqui-->
