<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">

    <html>
        <head>
        <title>Most Popular Movies</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="assets/css/main.css" />
    		<link rel="stylesheet" href="assets/css/slider.css" />
    		<link rel="stylesheet" href="assets/css/fire.css" />
                 
		<link rel="stylesheet" href="loadin.css">
           
          
        </head>
        
        
        <body class="is-preload">
		<div class="load"></div>
		<div id="page-wrapper">
      
         
            <!-- Header -->
            <header id="header">
                  <h1 id="logo"><a href="https://fandommovies.github.io/home/">FANDOM MOVIES</a></h1>
                  <nav id="nav">
                      <ul>
                        <li><a href="https://fandommovies.github.io/home/">Inicio</a></li>
                        <li><a href="Solicitud de peliculas.html">Pedir</a></li>
			<li><a href=" Reportes.html">Reportar</a></li>
                      </ul>
                    </nav>
             
              </header><br>
      
         
      
     
      
       <!-- bloques de series --> 
      <!--   Contenido 1 -->
		  <label>Buscador:</label>
      <input type="text" v-model="search" placeholder="Encuentra tu pelicula por nombre,año o idioma..."/>
              
        
    <br>
		  
          <article class="Cards carPerf" v-for="post in filteredList">
            <div class="CPoster"><a v-bind:href="post.link" target="_blank">
              <img v-bind:src="post.img"/> </div>
              <div class="CInfo noHidetho"><h2> {{ post.title }}</h2><span><b>{{ post.author }}</b></span></div>
              <span class="Cborder"></span>
            </a>
          </div>
        
          </article>
             <!--fin de contenido--> 
            
             
             
            
          <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.dropotron.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <script type="text/javascript">
	$(window).load(function() {
		$(".load").fadeOut("slow");
	});
	</script>
            <script src="assets/js/percent.js"></script>
      
        </body>
      </html>



    
   
<!--Cards movies-->
<script>
     class Post {
  constructor(title, link, author, img) {
    this.title = title;
    this.link = link;
    this.author = author;
    this.img = img;
   	  
  }
}
const app = new Vue ({
  el: '#app',
  data: {
    search: '',
    postList : [
	    new Post(
'Sonic: la película',
'https://easyload.io/e/1EXQbe0BN8/s0_n1_c_th3_h3_dg3_h0_g_2020_hdrip_720_p_latino_mp4_html',
'2020 Latino',
'https://image.tmdb.org/t/p/w600_and_h900_bestv2/jYbANSoj6qGTbDkstq9J5Vy8fRF.jpg' 

),
 new Post(
'El padrino',
'https://easyload.io/e/e6dYL47qlk/3_l_P_4_dr1_n0_1972_720_p_Latino_mp4_html',
'1972 Latino',
'https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY268_CR3,0,182,268_AL_.jpg' 

),	    
	   
]
  },
   computed: {
    filteredList() {
      return this.postList.filter(post => {
        return post.title.toLowerCase().includes(this.search.toLowerCase()) || post.author.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
})

<footer> 
            <div align="center" id="footer-post" style="color: white; display: block;" class="disable-select">
              
      <p> © 2020  Fandom Movies  <a href="DCMA.html">DCMA</a></p></div> 
                 </footer>     

</script>
<!--Termino aqui-->

	
